.price{
    font-weight: bold;
    font-size: 16px;
}

.card{
    height: 95%;
    margin:10px;
}

.card:hover{
    box-shadow: 10px 10px 10px -10px #000000;
    transition: all 200ms ease-out;
}

.card img{
    max-height: 150px;
}

.card-footer{
    background-color: white;
    border-top: 0 none;
}

.card-body{
    border-bottom: 0 none;
}


